
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLight.woff') format('woff'), url('HelveticaNeueLight.ttf')  format('truetype'), url('HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
