@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_UltraLight.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_UltraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Light.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb.woff2) format("woff2"),
    url(../fonts/IRANSansWeb.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Medium.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"),
    url(../fonts/IRANSansWeb_Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: IRANSansWeb;
}
